body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00368E;
  color: white;
  font-style: italic;
  font-family: 'PT Serif', serif;
}

a{
  color: white;
}

a.title{
  text-decoration: none;
}

.title{
    text-transform: lowercase;
}

/* If the screen size is 800px wide & tall or less */
@media screen and (max-width: 800px) and (max-height: 800px){
  header{
    font-size: 3vh;
    position: relative;
    margin-top: 6vw;
    margin-left: 10vw;
  }

  h2.title{
    text-align: right;
    font-size: 3vh;
    position: relative;
    margin-top: 20vh;
    margin-right: 10vw;
    line-height: 1.35;
  }

  .navi{
    position: absolute;
    font-size: 3.5vh;
    margin-top: 8.5vh;
    margin-left: 20vw;
  }

  p{
    position: absolute;
    text-align: justify;
    font-size: 2.7vw;
    margin-top: 2.5vh;
    margin-left: 8vw;
    margin-right: 8vw;
    line-height: 1.35;
  }

  footer{
    font-size: 2.5vh;
    position: fixed;
    bottom: 10px;
    margin-left: 9.5vw;
  }

  footer > h3 > a > span{
    display: inline-flex;
    vertical-align:middle;
  }

  .material-icons.md-48{
    font-size: 4vh;
  }
}
/* If the screen size is 800px wide or less, but more than 800px wide*/
@media screen and (max-width: 800px) and (min-height: 800px) {
  header{
    font-size: 3vh;
    position: relative;
    margin-top: 6vw;
    margin-left: 10vw;
  }

  h2.title{
    text-align: right;
    font-size: 3vh;
    position: relative;
    margin-top: 20vh;
    margin-right: 10vw;
    line-height: 1.35;
  }

  .navi{
    position: absolute;
    font-size: 3.5vh;
    margin-top: 8.5vh;
    margin-left: 23vw;
  }

  p{
    position: absolute;
    text-align: justify;
    font-size: 3vw;
    margin-top: 2.5vh;
    margin-left: 8vw;
    margin-right: 8vw;
    line-height: 1.35;
    font-style: 'PT Serif Regular 400 italic', serif;
  }

  footer{
    font-size: 1.8vh;
    position: fixed;
    bottom: 10px;
    margin-left: 9.5vw;
  }

  footer > h3 > a > span{
    display: inline-flex;
    vertical-align:middle;
  }

  .material-icons.md-48{
    font-size: 25px;
  }
}

/* If the screen size is 801px wide or more */
@media screen and (min-width: 801px) {
  header{
    font-size: 3vh;
    position: relative;
    margin-top: 6vw;
    margin-left: 30vw;
  }

  h2.title{
    text-align: right;
    font-size: 2.5vh;
    position: relative;
    margin-top: 13vh;
    margin-right: 30vw;
    line-height: 1.35;
  }

  .navi{
    position: absolute;
    font-size: 3.5vh;
    margin-top: 8.5vh;
    margin-left: 32vw;
  }

  img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 28.5vw;
    border-radius: 17vw;
    width: 17vw;

  }

  p{
    display: inline-block;
    position: absolute;
    text-align: justify;
    font-size: 2vh;
    margin-top: 2.5vh;
    margin-left: 4vw;
    margin-right: 20.5vw;
    line-height: 1.35;
    font-style: 'PT Serif Regular 400 italic', serif;
  }

  .home{
    position: absolute;
    font-size: 3.5vh;
    margin-top: 18vh;
    margin-left: 32vw;
  }

  footer{
    font-size: 1.8vh;
    position: fixed;
    bottom: 10px;
    margin-left: 9.5vw;
  }

  footer > h3 > a > span{
    display: inline-flex;
    vertical-align:middle;
  }

  .material-icons.md-48{
    font-size: 25px;
  }
}
